# JR - This defines the maintainer(s) of a repo or the people responsible for different parts thereof.

# Users + Groups who can approve changes to _any_ content of this repo
* @myles-mitchell @csgillespie

# Users + Groups who can approve changes made in the website directory of this repo
/website/ @myles-mitchell @csgillespie
