# JR - This defines the maintainer(s) of a repo or the people responsible for different parts thereof.
# The below line will make csgillespie the owner unless it is overriden with the actual owner.

* @myles-mitchell @csgillespie
